/Java/MtgVisualList/target/
/Java/JavaApplication1/nbproject/private/
/Java/JavaApplication1/build/
/Java/MtgVisualList/nbproject/private/
/Java/MtgVisualList/build/
Java/MtgVisualList/src/com/jnizer/mtgvisuallist/token.txt
/Java/MtgVisualList_Maven/MtgVisualList/target/
Java/MtgVisualList_Maven/MtgVisualList/src/main/java/com/jnizer/mtgvisuallist/app/token.txt
Java/MtgVisualList_Maven/MtgVisualList/src/main/java/com/jnizer/mtgvisuallist/app/token.txt
